### üë®üèª‚Äçüíª Hanif Radityo | 1910511080 | C
</br>

## 1. Persiapan Dataset üìÅ

In [25]:
import pandas 
import numpy

### Menganalisis fitur pada data

In [26]:
data = pandas.read_csv("healthcare-dataset-stroke-data.csv")

In [27]:
len(data) #jumlah data

5110

In [28]:
data.dtypes #tipe data setiap kolom

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [29]:
data.isnull().sum() #identifikasi nilai NaN

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [30]:
data.iloc[10] #preview data

id                          12109
gender                     Female
age                          81.0
hypertension                    1
heart_disease                   0
ever_married                  Yes
work_type                 Private
Residence_type              Rural
avg_glucose_level           80.43
bmi                          29.7
smoking_status       never smoked
stroke                          1
Name: 10, dtype: object

### Mengatasi missing value

In [31]:
data.dropna(subset=["bmi"], axis=0, inplace=True) #hapus baris dengan nilai NaN dalam kolom bmi
data.reset_index(drop=True, inplace=True) #reset index

### Mengatasi variabel dengan tipe data non numerik
üìåUntuk field yang memiliki 2 kategori seperti : 
- ever_married 
- Residence_type 
- gender 
</br> 

Maka akan dilakukan encode terhadap nilainya menjadi binary (1,0) </br>

üìåUntuk field yang memiliki lebih dari 2 kategori seperti : 
- smoking_status 
- work_type 
</br> 

Maka akan diatasi dengan dibuat indicator_variabel nya

In [32]:
#identifikasi macam-macam nilai pada suatu kolom 
data.drop_duplicates(subset="gender")

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
2970,56156,Other,26.0,0,0,No,Private,Rural,143.33,22.4,formerly smoked,0

In [33]:
#Membuat indicator_variable pada kolom smoking_status
indicator_variable = pandas.get_dummies(data["smoking_status"])
indicator_variable.rename(columns = {
    "formerly smoked":"smoking_status_formerly_smoked", 
    "never smoked":"smoking_status_never_smoked", 
    "smokes":"smoking_status_smokes", 
    "Unknown":"smoking_status_unknown", 
    }, inplace=True)
data.drop("smoking_status", axis = 1, inplace=True)
data = pandas.concat([data, indicator_variable], axis=1)

#Membuat indicator_variable pada kolom work_type
indicator_variable = pandas.get_dummies(data["work_type"])
indicator_variable.rename(columns = {
    "Private":"work_type_private", 
    "Self-employed":"work_type_self_employed", 
    "Govt_job":"work_type_govt_job", 
    "children":"work_type_children", 
    "Never_worked":"work_type_never_worked", 
    }, inplace=True)
data.drop("work_type", axis = 1, inplace=True)
data = pandas.concat([data, indicator_variable], axis=1)

In [34]:
#Pada kolom gender ditemukan baris yang memiliki nilai Other sebanyak 1
data = data[data.gender != "Other"] #Menghapus baris yang memiliki nilai gender == "Other"

In [35]:
data

,id,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,smoking_status_unknown,smoking_status_formerly_smoked,smoking_status_never_smoked,smoking_status_smokes,work_type_govt_job,work_type_never_worked,work_type_private,work_type_self_employed,work_type_children
0,9046,Male,67.0,0,1,Yes,Urban,228.69,36.6,1,0,1,0,0,0,0,1,0,0
1,31112,Male,80.0,0,1,Yes,Rural,105.92,32.5,1,0,0,1,0,0,0,1,0,0
2,60182,Female,49.0,0,0,Yes,Urban,171.23,34.4,1,0,0,0,1,0,0,1,0,0
3,1665,Female,79.0,1,0,Yes,Rural,174.12,24.0,1,0,0,1,0,0,0,0,1,0
4,56669,Male,81.0,0,0,Yes,Urban,186.21,29.0,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,14180,Female,13.0,0,0,No,Rural,103.08,18.6,0,1,0,0,0,0,0,0,0,1
4905,44873,Female,81.0,0,0,Yes,Urban,125.20,40.0,0,0,0,1,0,0,0,0,1,0
4906,19723,Female,35.0,0,0,Yes,Rural,82.99,30.6,0,0,0,1,0,0,0,0,1,0
4907,37544,Male,51.0,0,0,Yes,Rural,166.29,25.6,0,0,1,0,0,0,0,1,0,0
4908,44679,Female,44.0,0,0,Yes,Urban,85.28,26.2,0,1,0,0,0,1,0,0,0,0

In [36]:
#Memisahkan fitur dan label dan merubah struktur datanya menjadi numpy array 
x = numpy.array(data[data.columns[1:-1]]) #fitur merupakan seluruh kolom pada data kecuali id dan stroke
y = numpy.array(data["stroke"]) #label merupakan kolom stroke

In [37]:
#identifikasi index field data pada list
for column in x[0]:
    print(column)

Male
67.0
0
1
Yes
Urban
228.69
36.6
1
0
1
0
0
0
0
1
0

In [38]:
for item in x:
    #gender (Male:1, Female:0)
    if item[0] == "Male":
        item[0] = 1
    if item[0] == "Female":
        item[0] = 0
    #ever_married (Yes:1, No:0)
    if item[4] == "Yes":
        item[4] = 1
    if item[4] == "No":
        item[4] = 0
    #Residence_type (Urban:1, Rural:0)
    if item[5] == "Urban":
        item[5] = 0
    if item[5] == "Rural":
        item[5] = 1

In [39]:
#Seluruh field data sudah bertipe data numerik sekarang
for column in x[0]:
    print(column)

1
67.0
0
1
1
0
228.69
36.6
1
0
1
0
0
0
0
1
0

## 2. Memisahkan Data Training dengan Testing üöì

In [40]:
print("jumlah data untuk label stroke", len(y[y == 1]))
print("jumlah data untuk label tidak stroke", len(y[y == 0]))

jumlah data untuk label stroke 209
jumlah data untuk label tidak stroke 4699

In [41]:
x_train = x[:3927] #80% dataset digunakan untuk training
y_train = y[:3927]
x_test  = x[:-3927] #20% dataset digunakan untuk testing
y_test  = y[:-3927]

## 3. Membangun Model Klasifikasi Menggunakan SVM
üìñ Dokumentasi : https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

In [42]:
from sklearn.svm import SVC
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
model = SVC()
model.fit(x_train, y_train)

SVC()

In [43]:
mean_squared_error(y_test, model.predict(x_test))

0.2130479102956167

In [44]:
r2_score(y_test, model.predict(x_test))

-0.2707253886010361

## 4. Membangun Model Klasifikasi Menggunakan ANN
üìñ Dokumentasi : https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

In [45]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
model = MLPClassifier(activation="logistic", solver="lbfgs", alpha=1e-5, hidden_layer_sizes=(5,2), random_state=0)
model.fit(x_train, y_train)

C:\Users\Hanif Radityo\.pyenv\pyenv-win\versions\3.8.0\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', alpha=1e-05, hidden_layer_sizes=(5, 2),
              random_state=0, solver='lbfgs')

In [46]:
mean_squared_error(y_test, model.predict(x_test))

0.007135575942915392

In [47]:
r2_score(y_test, model.predict(x_test))

0.9574398195205395